<h1 class="w3-animate-zoom"> <b>PRSC</b> </h1>
<br>
<div class="w3-bar w3-animate-opacity">
        <a routerLink='prsc-presidente' class="w3-bar-item w3-button">Presidente</a>
        <a routerLink='prsc-senador' class="w3-bar-item w3-button">Senador</a>
        <a routerLink='prsc-diputado' class="w3-bar-item w3-button">Diputado</a>
        <a routerLink='prsc-alcalde' class="w3-bar-item w3-button">Alcalde</a>
        <a routerLink='prsc-regidor' class="w3-bar-item w3-button">Regidor</a>
      </div>

<router-outlet></router-outlet>