<h1 class="w3-animate-zoom w3-center" style="font-size:6vw;"> <b>PRSC</b> </h1>
<div class="one w3-animate-opacity w3-mobile" style="margin: auto; width: 50%; padding: 10px;">

        <a routerLink='prsc-presidente' class="w3-bar-item w3-button w3-mobile" style="font-size:2vw; padding: 5px">Presidente</a>
        <a routerLink='prsc-senador' class="w3-bar-item w3-button w3-mobile" style="font-size:2vw; padding: 5px">Senador</a>
        <a routerLink='prsc-diputado' class="w3-bar-item w3-button w3-mobile" style="font-size:2vw; padding: 5px">Diputado</a>
        <a routerLink='prsc-alcalde' class="w3-bar-item w3-button w3-mobile" style="font-size:2vw; padding: 5px">Alcalde</a>
        <a routerLink='prsc-regidor' class="w3-bar-item w3-button w3-mobile" style="font-size:2vw; padding: 5px">Regidor</a>

      </div>

<router-outlet></router-outlet>