<h1 class="w3-animate-top"> <b>Elija el diputado</b> </h1>
<br>
<div fxLayout="row" gdGap="5px" gdColumns="150px 150px 150px 150px 150px" fxLayoutGap="10px" >
        <div  *ngFor="let diputado of diputados" class="w3-card w3-hover-shadow">
                    <header class="w3-container w3-green">
                            {{diputado.numero}}
                    </header>
                    <img [src]="diputado.img" style="width:100%; max-width: 200px">
                    <p class="w3-center">Candidato {{diputado.numero}} A <br> Diputado(A)</p>
                </div>
                <div class="w3-card w3-hover-shadow">
                        <header class="w3-container w3-green">
                                16
                        </header>
                        <img src="../assets/Imagenes/NINGUNO.png" style="width:100%; max-width: 200px">
                        <p class="w3-center">Nada</p>
                    </div>
</div>
