
      <h2 class="w3-center"> <b> Usted Votó por : </b> </h2>

      <table class="w3-table w3-striped w3-border">
            <tr>
              <th>Cargo(s)</th>
              <th>Candidato(s)</th>
            </tr>
            <tr>
              <td>Presidente(A)</td>
              <td>{{presidente}}</td>
            </tr>
            <tr>
              <td>Senador(A)</td>
              <td>{{senador}}</td>
            </tr>
            <tr>
              <td>Diputado(A)</td>
              <td>{{diputado}}</td>
            </tr>
            <tr>
              <td>Alcalde(SA)</td>
              <td>{{alcalde}}</td>
            </tr>
            <tr>
              <td>Regidor(A)</td>
              <td>{{regidor}}</td>
            </tr>
          </table>