<h1 class="w3-animate-zoom"> <b>PRM</b> </h1>
<br>
<div class="w3-bar w3-animate-opacity">
        <a routerLink='prm-presidente' class="w3-bar-item w3-button">Presidente</a>
        <a routerLink='prm-senador' class="w3-bar-item w3-button">Senador</a>
        <a routerLink='prm-diputado' class="w3-bar-item w3-button">Diputado</a>
        <a routerLink='prm-alcalde' class="w3-bar-item w3-button">Alcalde</a>
        <a routerLink='prm-regidor' class="w3-bar-item w3-button">Regidor</a>
      </div>

<router-outlet></router-outlet>