
<!-- <div class="w3-sidebar w3-bar-block w3-row w3-border-right w3-col m4 l3" style="float: left"> -->
<div class="w3-bar">
 
    <div class="w3-center w3-container w3-green"><h3 class="w3-xxlarge w3-animate-zoom"><b>{{etiqueta}}</b></h3></div>
    <br>
    <button routerLink="inicio" *ngIf="!mostrar" class="w3-button w3-khaki w3-large w3-block" (click)="clickMostrar()">Volver a Partidos</button>
    <div *ngIf="mostrar">
    <div style="margin: auto;width: 60%;padding: 10px;">
    <div class="w3-animate-opacity w3-bar-item">
        <a routerLink="/pld" class="w3-bar-item w3-button" (click)="clickMostrar()">  <img style="width:100%; max-width: 150px" src="../assets/Imagenes/PLD 3.png" alt="">   </a>
      </div>

      <div class="w3-animate-opacity w3-bar-item">
        <a routerLink="/prm" class="w3-bar-item w3-button" (click)="clickMostrar()">  <img style="width:100%; max-width: 150px" src="../assets/Imagenes/PRM 1.jpg" alt="">   </a>
      </div>

      <div class="w3-animate-opacity w3-bar-item">
        <a routerLink="/prsc" class="w3-bar-item w3-button" (click)="clickMostrar()">  <img style="width:100%; max-width: 150px" src="../assets/Imagenes/PRSC 1.png" alt="">   </a>
      </div>
    </div>
</div>
</div>

<div *ngIf="!mostrar">
    <router-outlet></router-outlet>
</div>
  




