<h1 class="w3-animate-zoom"> <b>PLD</b> </h1>
<br>
<div class="w3-bar w3-animate-opacity">
        <a routerLink='pld-presidente' class="w3-bar-item w3-button">Presidente</a>
        <a routerLink='pld-senador' class="w3-bar-item w3-button">Senador</a>
        <a routerLink='pld-diputado' class="w3-bar-item w3-button">Diputado</a>
        <a routerLink='pld-alcalde' class="w3-bar-item w3-button">Alcalde</a>
        <a routerLink='pld-regidor' class="w3-bar-item w3-button">Regidor</a>
      </div>

<router-outlet></router-outlet>