<h2 class="w3-animate-top"> <b>Elija el presidente</b> </h2>
<br>
<!-- <div gdGap="5px" gdColumns="150px 150px 150px 150px 150px"> -->
        <div fxLayout="row" gdGap="5px" gdColumns="150px 150px 150px 150px 150px" fxLayoutGap="10px" >
        <div class="imgbox"  *ngFor="let presidente of presidentes" class="w3-card w3-hover-shadow">
                    <header class="w3-container w3-green">
                            {{presidente.numero}}
                    </header>
                    <img [src]="presidente.img" style="max-width: 100%;height: auto;width: auto\9; margin: auto">
                    <!-- <img class="center-fit" [src]="presidente.img" style="position: absolute; margin: auto;max-width: 100%;max-height: 100%;"> -->
                    <p class="w3-center">Candidato {{presidente.numero}} A <br> Presidente(A)</p>
                </div>
                <div class="w3-card w3-hover-shadow">
                        <header class="w3-container w3-green">
                                16
                        </header>
                        <img src="../assets/Imagenes/NINGUNO.png" style="width:100%; max-width: 200px">
                        <p class="w3-center">Nada</p>
                    </div>
</div>

